@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiant {
    background: rgb(52, 16, 107);
    background: linear-gradient(90deg, rgba(52, 16, 107, 1) 0%, rgba(94, 26, 158, 1) 49%, rgba(57, 0, 230, 1) 100%, rgba(0, 212, 255, 1) 100%);
}


.hover {
    text-shadow: white 14px -24px 20px;
}

.outline {
    color: white; /* Unfortunately you can't use transparent here … */
    text-shadow:
	   -1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000
}

/* Real outline for modern browsers */
@supports((text-stroke: 4px black) or (-webkit-text-stroke: 2px black)) {
    .outline {
        color: transparent;
        -webkit-text-stroke: 2px white;
		text-stroke: 4px black;
        text-shadow: none;
    }
}